.firstclass {
    color: #75D8AE;
    font-weight: bold;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form_border_registration {
    border-radius: 15px;
    width: 300px;
    height: 450px;
    background-color: #f0f0f0; 
    border: 2px solid #333; 
}

.form_border_login {
    border-radius: 15px;
    width: 300px;
    height: 275px;
    background-color: #f0f0f0;
    border: 2px solid #333;  
}

.flex_container_logo{
    display: flex;
    background-color: #75D8AE; 
    height: 50px; 
    width: 100%; 
}

.logo_image{
    width: 50px;
    height: auto; 
}

.logo_text{
    color: #000000;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.flex_container{
    display: flex;
    justify-content: center;
}

.thirdclass{
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 14px;
}

.body {
    background-color:#333; 
    margin: 0;
    padding: 0;
}

.colored-button {
    background-color: #75D8AE; /* Colore di sfondo del bottone */
    color: #fff; /* Colore del testo del bottone */
    padding: 5px 100px; /* Padding interno del bottone */
    border: none; /* Rimuove il bordo del bottone */
    border-radius: 5px; /* Bordo arrotondato del bottone */
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
}



.form {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

.checkbox {
    cursor: pointer;
}

/*nascondiamo l'etichetta per migliorare l'accesibilità aiutando gli utenti */
/*che usano i lettori di schermo */
.hide_search_note {
    position:absolute;
    left:-9999px;
    }

.profile {
    margin-left: auto;
}
