#loginContainer, #registrationContainer{
    max-width: 520px;
    background-color: white;
}
.blur{
    /*Per utilizzarlo bisogna avvolgere tutta la pagina in un div.blur eccetto le cose che non si vogliono sfocare*/
    filter: blur(2px);
    width: 100%;
    height: 100%;
}